.event-container {
    overflow: visible;
    display: flex;
    flex-direction: column;
    margin: 2px;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
}

.event-main-info {
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0px 15px;
    flex: 1 1 0px;
}

.event-picture {
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* object-fit:cover is used to crop the image in a way that it fits and has good resolution*/
div.event-picture > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Maybe a div which will containn info about start time, end time and event name*/
.short-description {
    flex: 1 1 0px;
    margin: 5px;
}

.event-name-text {
    display: block;
    margin: 3px 0px;
    font-size: 1.5em;
    font-weight: bolder;
}

.event-times{
    margin: 3px 0px;
    font-weight: bold;
    color: grey;
}
/*Will host the Info button (which will open the modal)*/
.info-button-container {
    align-self: center;
    margin: 5px;
    cursor: pointer;
    font-size: x-large;
}

/*Modal styles*/
.modal-window {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    padding: 10px;
    width: 475px;
    background-color: white;
    border-radius: 5px;
}

.modal-header {
    margin: 6px;
    display: flex;
    position: relative;
}

.modal-header-title {
    flex: 1 1 0px;
    font-size: 2em;
    font-weight: bold;
}

.modal-header-close {
    cursor: pointer;
    font-size: x-large;
    align-self: center ;
    margin: 3px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body * {
    margin: 5px 5px 5px 0px;
}

.modal-footer {
    margin: 6px;
    text-align: center;
}

.upload-image-button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
    color: rgba(93, 92, 92, 0.87);
    margin-left: 5px;
    cursor: pointer;
}